.grid-container {
    display: grid;

    /*개수 만큼 column 수가 생성됨. auto는 자동으로 너비가 조정됨.*/
    /* 50px auto auto의 경우 첫번째는 지정넓이, 나머지는 자동으로 조정됨. */
    /* grid-template-columns: 20% 50% 30% ; */
    grid-template-columns: 40px 50px 60px;
    gap: 10px;

}

.grid-item-second-main {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-justify {
    display: grid;
    grid-template-columns: 40px 50px 60px ;
    gap: 10px;
    justify-content: space-between /*양쪽으로 붙음*/
    /* justify-content :: space-around (간격 알아서 조절) coneter, start, end */

}